<section style="height: 100vh;">

 



</section>


<section style="height: 100vh; " class="p-5">




  <div class="container bg-light vh-100 p-1">
    <h2 class="mt-5 text-center">View Products</h2>

    <table class="table table-hover  mt-2 p-1 " style="table-layout: fixed;">
      <thead>
        <tr class=" " style="border-bottom: double;">
          <th>category</th>
          <th>product_name</th>
          <th>product_title</th>
          <!-- <th>description</th> -->
          <th>price</th>
          <th>quantity</th>
          <th>status</th>
          <th>image</th>
          <!-- <th>Cart</th> -->
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody>
        {% for j in products %}


        <tr>
          <td>{{j.category.category}}</td>
          <td>{{j.product_name}}</td>
          <td>{{j.product_title}}</td>
          <!-- <td style=" overflow:hidden;">
            <p style="width: 20px;"></p>{{j.description}}
          </td> -->
          <td>{{j.price }}/-</td>
          <td>{{j.quantity}}</td>
          <td>{{j.status}}</td>
          <td><img src="{{j.image.url}}" class="w-50" alt="image"></td>
          <!-- <td>{{i.gender}}</td> -->

          <td><a href="{% url 'delete_usr' j.id %} " class="text-danger">Delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>




</section>

<section class="mt-5 p-5" >
  <div class="container" style="background-color: ghostwhite; border: hidden; border-radius: 2%;">
    <div class="row">
      <div class="col"></div>
      <div class="col mt-5 text-center">
        <form action="{% url 'dashboard' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <!-- <label class="form-control " for="cars">Choose a category:</label> -->
          <h3>ADD NEW PPRODUCT</h3>

          <select class="form-control mt-4" name="category" id="cat">
            <option selected="selected" disabled>Select category:~</option>
            {% for cat in obj %}


            <option value="{{cat.id}}">{{cat}}</option>
            {% endfor %}
          </select>

          <input type="text" class="form-control mt-2 " placeholder="Enter product name" name="pname">
          <input type="text" class="form-control mt-2 " placeholder="Title" name="tt">
          <input type="text" class="form-control mt-2 " placeholder="Description" name="des">
          <input type="text" class="form-control mt-2 " placeholder="Price" name="price">

          <input type="text" class="form-control mt-2 " placeholder="quantity" name="qty">
          <input type="file" name="file" class="form-control mt-3 " accept="image/*">

          <input class="form-control  mt-5 border-3" type="submit" value="Submit">

          <a href="{% url 'add_category' %}">Add New category?</a>



        </form>



      </div>
      <div class="col"></div>
    </div>


  </div>
</section>